<!-- templates/user/show.html.eex -->
<div class="jumbotron">
  <h2>Rendered by templates/user/show.html.eex.</h2>
  <table class="table">
    <tr>
      <td> id:<%= @user.id %> </td>
      <td> externalId:<%= @user.externalId %> </td>
      <td> userName:<%= @user.userName %> </td>
      <td> dataSourceId:<%= @user.dataSourceId %> </td>
    </tr>
</table>
</div>
