<!-- templates/dsk/index.html.eex -->
<div class="jumbotron">
  <h2>DSKs from <%= @fqdn %> </h2>
      <table class="table">
      <%= for dsk <- @dskList do %>
        <tr>
          <td> id:<%= dsk.id %> </td>
          <td> externalId:<%= dsk.externalId %> </td>
          <td> description:<%= dsk.description %> </td>
        </tr>
      <%= end %>
    </table>
</div>
