<!-- templates/membership/courseId/show.html.eex -->
<%= if @course.courseId do %>
<div class="jumbotron">
  <h4><%= @course.courseId %> </h4>
  <h6>Rendered by templates/membership/courseId/show.html.eex.</h6>
</div>

<% else %>
<div class="jumbotron">
  <h4><%= @courseId %> Not Found </h4>
  <h6>Rendered by templates/membership/course/show.html.eex.</h6>
</div>
<% end %>
